.footer-scroll-down-btn {
    padding: 10px 10px 10px 10px;
    text-align: center;
    background: #1B242F;
  }

.footer {
    background: #1B242F;
 }

.info-box {
    background: #1B242F;
    padding: 10px 10px 10px 10px;
    color: rgb(190, 190, 190); 
}