/* body {
  display: flex;
  flex-direction: column;
} */

  
  .App {
    text-align: center;
    font-size: calc(10px + .6vmin);
  }

.highlight {
  color: #E31B6D; }


  .icon-flipped {
    -o-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}